@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --background-color: rgba(200, 194, 211, 0.671); 
    --main-color: rgb(255, 255, 255); 
    --background-button: rgb(0, 0, 0); 
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins';
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BTN-BUY */
